.buildpath
.project
*.log
.git
*.txt
.settings
/vendor/
*/.DS_Store
*/.DS_Store
*.phar
var/view/compile/*
var/view/cache/*
var/view/config/*
var/cache/*
var/log/*
var/pid/*
resource/*
public/setting
public/profile
public/static/*
composer.lock
.env.local.php