.buildpath
.project
*.log
.git
*/.pid
*.txt
.settings
/vendor/
.DS_Store
*.phar
runtime/view/compile/*
runtime/view/cache/*
runtime/view/config/*
runtime/cache/*
runtime/log/*
public/setting
public/profile
public/static/*
composer.lock