<html>
<head>
{ui.lib}
<title>Tinyphp frameworks for PHP</title>
</head>
<body>
	<div>
		<div id="summ"></div>

		<ul>
			<li><h3>Hello World!</h3></li>
			<li>Name: Tinyphp frameworks for PHP</li>
			<li>Controller: <strong>{$controllerName}</strong></li>
			<li>Action: <strong>{$actionName}</strong></li>
			<li>IP: <strong>{$ip}</strong></li>
			<li>sessionExample:<strong> $sessionExample</strong></li>
			<li>cookieExample:<strong>$cookieExample</strong></li>
			
			<li>langExample: <strong>$langExample</strong></li>
			<li>configExample:<strong>$configExample</strong></li>
			<li>IPAREA: <strong>{$iparea}</strong></li>
			<li>cached: <strong>{$cached}</strong></li>
			<li>Name: <strong>{$name}</strong>, default:<strong>{$defName}</strong>,
				isRequired:<strong>{$isName}</strong></li>


		</ul>

		<ul>
			<li><b>Using model</b></li> {loop $users $key $user}
			<li>{loop $user $k $v} <span>$k : $v</span> {/loop}
			</li> {/loop}
		</ul>
		{pagination url="http://demo.tinycn.com/test/?pageid=%s",total=100, limit=5, id="$request->get['pageid']", size=5|justify-content-center pagination-lg}
	</div>
	{template test/index.php} 
	{template test/index.tpl}
		{template test/README.md}
</body>
</html>
